
* { margin: 0; padding: 0; outline: 0; box-sizing: border-box; }

body, html { height: 100%; }


body{
    font-size: 100%;
    font-size: 16px;
    font-size: 1em;
    margin: auto;
    width: 100%;
    min-width: 1200px;
    height: 100%;
	min-height: 100%;
	font-family: "PingFang Regular";
    color: #3C464B;
    background-color: #F1F6FA;
}
.iconfont{
    line-height: 1;
}

img:not([src*="/"]){
	display:none;
}

img {
	max-width: 100%;
	width: 100%;
    vertical-align: middle;
}
a{
	text-decoration: none;
	cursor: pointer;
}

a img { 
	border: 0; 
}

li,ol{
	list-style: none;
}

.flexBox{
    display: flex;
}


.flexEnd{
    display: flex;
    align-items:flex-end;
}
.flexCenter{
    display: flex;
    align-items:center;
    justify-content: center;
}
.flexBetween{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.flexColumnCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flexStartBetween{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.grayBg{
    background-color: #BECDD7;
}
.redBg{
    background-color: #D00202;
}
.orangeBg{
    background-color: #FF5100;
}
.yellowBg{
    background-color: #FF9C00;
}
.yellowBg1{
    background-color: #E1BC00;
}
.greenBg{
    background-color: #6AC000;
}
.greenBg1{
    background-color: #00C100;
}
.redColor{
    color: #D00202;
}
.yellowColor{
    color:#FF9C00 ;
}
.greenColor{
    color: #00C100;
}
/*控制整个滚动条*/
::-webkit-scrollbar {
    background-color: #E9ECF0;
    width: 6px;
    height: 8px;
    background-clip: padding-box;
}
.el-scrollbar__wrap::-webkit-scrollbar{
	background-color: transparent;
	width: 6px;
    height: 8px;
    background-clip: padding-box;
}
/*滚动条两端方向按钮*/
::-webkit-scrollbar-button {
    height: 0px;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
    background-color: #BECDD7;
    border-radius: 3px;
}

/*滚动条右下角区域*/
::-webkit-scrollbar-corner {
    background-color: #E9ECF0;
}
/* element滚动条 */
.el-scrollbar__thumb{
    background-color:#BECDD7 ;
}

/* 表单 */
.el-input__inner{
    font-family: "PingFang Regular";
    color: #3C464B !important;
    border-color:#BECDD7 ;
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus{
    border-color:#BECDD7 ;
}
el-input__inner::placeholder{
    color: #BECDD7;
}
.el-form-item__error{
    left: 10px;
    color: #ED5565;
}
.el-form-item.is-error .el-input__inner, 
.el-form-item.is-error .el-input__inner:focus, 
.el-form-item.is-error .el-textarea__inner, 
.el-form-item.is-error .el-textarea__inner:focus, 
.el-message-box__input input.invalid, 
.el-message-box__input input.invalid:focus{
    border-color: #BECDD7;
}



/* 按钮 */
.el-button{
    font-family: "PingFang Regular";
}
.el-button+.el-button{
    margin-left: 0;
}
.el-button--primary,
.el-button--primary:focus, 
.el-button--primary:hover{
    background-color: #009999;
    border: 0;
}
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active, 
.el-button--primary.is-disabled:focus, 
.el-button--primary.is-disabled:hover{
    background-color: #879BAA;
}


.el-menu--vertical{
    display: none;
}


/* 时间弹窗选中状态 */
.el-month-table td.current .cell {
    width: 28px;
    height: 28px;
    background: #009999;
    margin-top: 4px;
    line-height: 28px;
    color: #ffffff !important;
}

.el-month-table td.today .cell {
    color: #606266;
    font-weight: 400;
}

/* 1920 */
@media screen and (min-width: 1665px) {
    .radiusCss{
        border-radius: 4px;
    }
    .whiteBg{
        padding: 0 30px 16px 30px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px 0px rgba(0, 86, 122, 0.1);
        border-radius: 10px;
    }
    .el-input__inner,
    .el-button{
        border-radius: 4px;
    }
    .el-button{
        width: 140px;
        height: 40px;
    }

    /* 首页园区下拉框 */
    .homeDropdownBox{
        background-color: #025F7A;
        border: 0;
        box-shadow: 0 2px 10px 0 #044557;
    }
    .homeDropdownBox.el-popper[x-placement^=bottom] .popper__arrow{
        left: calc(50% - 6px) !important;
        border-bottom-color: #025F7A;
    }
    .homeDropdownBox.el-popper[x-placement^=bottom] .popper__arrow::after{
        border-bottom-color: #025F7A;
    }
    .homeDropdownBox .el-select-dropdown__item{
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
    .homeDropdownBox .el-select-dropdown__item{
        margin-bottom: 6px;
    }
    .homeDropdownBox .el-select-dropdown__item.hover, 
    .homeDropdownBox .el-select-dropdown__item:hover{
        background-color: rgba(255, 255, 255, 0.09);
    }
    .homeDropdownBox .el-select-dropdown__item.selected{
        font-weight: normal;
        color: #fff;
    }
    /* 表单 */
    .el-input__inner{
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        text-align: left;
    }
    
    /* 检索条件 */
    .siemensLayoutCon{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .siemensLayoutCon .el-button span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .siemensLayoutCon .el-button i{
        margin-right: 6px;
        font-size: 18px;
    }
    .siemensLayoutSearchBox{
        padding: 0 30px;
    }
    .siemensLayoutSearchBoxForm .el-form-item{
        display: flex;
        flex: 1;
        margin-right: 50px;
        margin-bottom: 40px;
    }
    .siemensLayoutSearchBoxForm .el-form-item:last-child{
        width: 140px;
        flex: inherit;
        margin-right: 0;
    }
    .siemensLayoutSearchBoxForm .el-form-item__label{
        padding: 0;
        margin-right: 10px;
        font-size: 16px;
        color: #3C464B;
        white-space: nowrap;
    }
    /* 三列检索条件 */
    .treeFormItem .el-form-item__content{
        /* width: 319px; */
        flex: 1;
    }
    /* .treeFormItem:nth-child(3n) .el-form-item__content{
        width: 318px;
    }
    .collspaseForm .treeFormItem .el-form-item__content{
        width: 392px;
    } */

    .siemensLayoutSearchBoxForm .el-button{
        width: 140px;
        height: 40px;
        padding: 0;
        font-size: 16px;
    }
    .siemensLayoutResultBox{
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .siemensLayoutResultTitle{
        height: 80px;
        font-size: 18px;
    }
    .siemensLayoutResultTitleNoBtn {
        height: 64px;
    }
    .siemensLayoutResultTitle .el-button{
        
        width: 140px;
        height: 40px;
        padding: 0;
        font-size: 16px;
    }
    .siemensLayoutCon .el-button:not(:first-child){
        margin-left: 30px;
    }
    /* 复选框 */
    .el-checkbox__inner{
        width: 20px;
        height: 20px;
        border-color: #BECDD7;
        background-color: #F1F6FA;
    }
    .el-checkbox__label{
        padding-left: 10px;
        font-size: 16px;
    }
    .el-checkbox__input.is-checked+.el-checkbox__label{
        color: #3C464B;
    }
    .el-checkbox__inner:hover,
    .el-checkbox__input.is-focus .el-checkbox__inner{
        border-color: #BECDD7;
    }
    .el-checkbox__inner::after{
        top: 2px;
        left: 6px;
        width: 5px;
        height: 9px;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner{
        background-color: #009999;
        border-color: #BECDD7;
    }
    .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
        top: 8px;
    }
    /* 表格 */
    .siemensLayoutResultCon{
        flex: 1;
        overflow: hidden;
    }
    .el-table{
        border-radius: 10px;
        border-color: #BECDD7;
    }
    .el-table--border::after, 
    .el-table--group::after, 
    .el-table::before{
        background-color: #BECDD7;
    }
    .el-table th{
        height: 50px;
        padding: 0;
        font-weight: normal;
        font-size: 16px;
        color: #fff;
        background-color: #879BAA;
    }
    .el-table th>.cell,
    .el-table .cell, 
    .el-table--border td:first-child .cell, 
    .el-table--border th:first-child .cell{
        padding: 0;
    }
    .el-table td{
        padding: 0;
        color: #3C464B;
        background-color: #fff;
    }
    .el-table td .cell{
        line-height: 20px;
        padding: 10px;
    }
    .el-table--enable-row-hover .el-table__body tr:hover>td{
        background-color: #fff;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
        background-color: #F1F6FA;
    }


    
     
    .el-table td, .el-table th.is-leaf{
        border-bottom-width: 0;
    }
    .el-table tr:last-child td{
        border-width: 1px;
    }
    .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
        border-right-color: #BECDD7;
    }
    .tableOper{
        color: #009999;
    }
    .tableOper i{
        font-size: 18px;
        cursor: pointer;
    }
    .tableOper i+i{
        margin-left: 30px;
    }
    .tableOper .icon-bianji{
        font-size: 20px;
    }
    /* tooltip */
    .el-tooltip__popper.is-dark{
        width: 80px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        font-size: 12px;
        text-align: center;
        color: #3C464B;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px 0px rgba(119, 155, 192, 0.3);
        border-radius: 4px;
        transform: translateY(6px);
    }
    .el-tooltip__popper .popper__arrow{
        display: none;
    }
    /* 单选框 */
    .el-radio__inner,
    .el-radio__inner:hover{
        width: 20px;
        height: 20px;
        background: #F1F6FA;
        border: 1px solid #BECDD7; 
    }
    .el-radio__input.is-checked .el-radio__inner{
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 1px solid #009999;
        box-shadow: none;
    }
    .el-radio__inner::after{
        width: 10px;
        height: 10px;
        background: #009999;
    }
    .el-radio__label,
    .el-radio__input.is-checked+.el-radio__label{
        font-size: 16px;
        color: #3C464B;
    }
    /* 弹窗 */
    .el-dialog{
        position: absolute;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
        margin: 0;
    }
    .el-dialog__wrapper .el-dialog {
        padding: 30px 0 30px 30px;
        background: #F1F6FA;
        border-radius: 10px;
    }
    .el-dialog__wrapper .el-scrollbar__view{
        padding-right: 30px;
    }

    .close {
        position: absolute;
        top: -56px;
        right: 0;
        font-size: 36px;
        color: #ffffff;
    }

    .el-dialog__header {
        padding: 0;
        text-align: center;
        height: 24px;
        font-family: "PingFang Regular";
        font-weight: 400;
    }

    .el-dialog__title {
        font-size: 20px;
        line-height: 24px;
        color: #0A1418;
    }

    .el-dialog__wrapper .el-form-item {
        margin-bottom: 20px;
    }
    .el-dialog__wrapper .el-form-item:last-child{
        margin-bottom: 0;
    }

    .dialogdiv {
        max-height: 556px;
        padding-right: 30px;
        overflow: auto;
        padding-bottom: 20px;
    }

    .el-dialog__body {
        padding: 30px 0 0 0;
    }
    .el-dialog__body .el-form-item__label{
        padding-right: 10px;
    }
    .dialogbuttom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        padding: 0 90px 0 60px;
    }

    .dialogbuttom div {
        width: 180px;
        height: 40px;
        background: #879BAA;
        border-radius: 4px;
        font-size: 16px;
        font-family: "PingFang Regular";
        font-weight: 400;
        color: #FFFFFF;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }

    .dialogbuttom .dialogbuttomclose{
        background: #009999;
    }
    .el-dialog .el-select{
        width: 100%;
    }
    .el-dialog .el-select .el-input.is-focus .el-input__inner,
    .el-dialog .el-select .el-input__inner:focus{
        border-color: #BECDD7;
    }
    .dialogSelect .el-select-dropdown__item.selected{
        color: #009999;
    }

    /* 时间选择器 */
    .dateBox /deep/ .el-input__inner{
        padding: 0 30px 0 10px;
        font-size: 14px;
    }
    .dateBox /deep/ .el-input__inner::placeholder{
        font-size: 14px;
    }
    .dateBox /deep/ .el-input__prefix{
        left: auto;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        line-height: 1;
        color: #879BAA;
    }
   .dateBox /deep/ .el-input__icon{
       width: auto;
       font-size: 20px;
    }
    .separatorText{
        font-size: 14px;
        padding: 0 12px;
    }
    
}

/* 1280*/
@media screen and (max-width: 1664px) {
    .radiusCss{
        border-radius: 3px;
    }
    .whiteBg{
        padding: 0 20px 10px 20px;
        background: #FFFFFF;
        box-shadow: 0px 1px 67px 0px rgba(0, 86, 122, 0.1);
        border-radius: 6px;
    }

    .el-input__inner,
    .el-button{
        border-radius: 3px;
    }
    .el-button{
        width: 94px;
        height: 26px;
        /* line-height: 26px; */
        padding: 0;
    }
     /* 首页园区下拉框 */
    .homeDropdownBox{
        background-color: #025F7A;
        border: 0;
        box-shadow: 0 1px 6px 0 #044557;
        border-radius: 3px;
    }
    .homeDropdownBox.el-popper[x-placement^=bottom] .popper__arrow{
        left: calc(50% - 6px) !important;
        border-bottom-color: #025F7A;
    }
    .homeDropdownBox.el-popper[x-placement^=bottom] .popper__arrow::after{
        border-bottom-color: #025F7A;
    }
    .homeDropdownBox .el-select-dropdown__item{
        height:22px;
        line-height: 22px;
        font-size: 12px;
        color: #fff;
        text-align: center;
    }
    .homeDropdownBox .el-select-dropdown__item{
        margin-bottom: 4px;
    }
    .homeDropdownBox .el-select-dropdown__item.hover, 
    .homeDropdownBox .el-select-dropdown__item:hover{
        background-color: rgba(255, 255, 255, 0.09);
    }
    .homeDropdownBox .el-select-dropdown__item.selected{
        font-weight: normal;
        color: #fff;
    }

    
    /* 表单 */
    .el-input__inner{
        height: 26px;
        line-height: 26px;
        padding: 0 6px;
        font-size: 12px;
        text-align: left;
    }
    .el-form-item__content,
    .el-form-item__label{
        font-size: 12px;
        line-height: 26px;
    }
     /* 检索条件 */
     .siemensLayoutCon{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .siemensLayoutCon .el-button span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .siemensLayoutCon .el-button i{
        margin-right: 4px;
        font-size: 12px;
    }
    .siemensLayoutSearchBox{
        padding: 0 20px;
    }
    .siemensLayoutSearchBoxForm .el-form-item{
        display: flex;
        flex: 1;
        margin-right: 34px;
        margin-bottom: 36px;
    }
    .siemensLayoutSearchBoxForm .el-form-item:last-child{
        flex: inherit;
        width: 94px;
        margin-right: 0;
    }
    .siemensLayoutSearchBoxForm .el-form-item__label{
        padding: 0;
        margin-right: 6px;
        line-height: 26px;
        font-size: 12px;
        color: #3C464B;
        white-space: nowrap;
    }
    /* 三列检索条件 */
    .treeFormItem .el-form-item__content{
        flex: 1;
        /* width: 234px; */
        line-height: 26px;
    }
    /* .treeFormItem:nth-child(3n) .el-form-item__content{
        width: 233px;
    }
    .collspaseForm .treeFormItem .el-form-item__content{
        width: 283px;
    } */

    .siemensLayoutSearchBoxForm .el-button{
        
        width: 94px;
        height: 26px;
        padding: 0;
        font-size: 12px;
    }
    .siemensLayoutResultBox{
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .siemensLayoutResultTitle{
        height: 54px;
        font-size: 12px;
    }
    .siemensLayoutResultTitleNoBtn {
        height: 42px;
    }
    .siemensLayoutResultTitle .el-button{
        width: 94px;
        height: 26px;
        padding: 0;
        font-size: 12px;
    }
    .siemensLayoutCon  .el-button:not(:first-child){
        margin-left: 20px;
    }
    /* 复选框 */
    .el-checkbox__inner{
        width: 14px;
        height: 14px;
        border-color: #BECDD7;
        background-color: #F1F6FA;
    }
    .el-checkbox__label{
        padding-left: 6px;
        font-size: 12px;
    }
    .el-checkbox__input.is-checked+.el-checkbox__label{
        color: #3C464B;
    }
    .el-checkbox__inner:hover,
    .el-checkbox__input.is-focus .el-checkbox__inner{
        border-color: #BECDD7;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner{
        background-color: #009999;
        border-color: #BECDD7;
    }
    .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
        top: 5px;
    }
    /* 表格 */
    .siemensLayoutResultCon{
        flex: 1;
        overflow: hidden;
    }
    .el-table{
        border-radius: 6px;
        border-color: #BECDD7;
    }
    .el-table--border::after, 
    .el-table--group::after, 
    .el-table::before{
        background-color: #BECDD7;
    }
    .el-table th{
        height: 35px;
        padding: 0;
        font-weight: normal;
        font-size: 14px;
        color: #fff;
        background-color: #879BAA;
    }
    .el-table th>.cell,
    .el-table .cell, 
    .el-table--border td:first-child .cell, 
    .el-table--border th:first-child .cell{
        padding: 0;
    }
    .el-table td{
        padding: 0;
        font-size: 12px;
        color: #3C464B;
        background-color: #fff;
    }
    .el-table td .cell{
        line-height: 18px;
        padding: 6px;
    }
    .el-table--enable-row-hover .el-table__body tr:hover>td{
        background-color: #fff;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td{
        background-color: #F1F6FA;
    }
    .el-table td, .el-table th.is-leaf{
        border-bottom-width: 0;
    }
    .el-table tr:last-child td{
        border-width: 1px;
    }
    .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
        border-right-color: #BECDD7;
    }
    .tableOper{
        color: #009999;
    }
    .tableOper i{
        font-size: 12px;
        cursor: pointer;
    }
    .tableOper i+i{
        margin-left: 20px;
    }
    .tableOper .icon-bianji{
        font-size: 14px;
    }
    /* tooltip */
    .el-tooltip__popper.is-dark{
        width: 54px;
        height: 20px;
        line-height: 20px;
        padding: 0;
        text-align: center;
        font-size: 12px;
        color: #3C464B;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px 0px rgba(119, 155, 192, 0.3);
        border-radius: 3px;
        transform: translateY(6px);
    }
    .el-tooltip__popper .popper__arrow{
        display: none;
    }
    /* 单选框 */
    .el-radio__inner,
    .el-radio__inner:hover{
        width: 14px;
        height: 14px;
        background: #F1F6FA;
        border: 1px solid #BECDD7; 
    }
    .el-radio__input.is-checked .el-radio__inner{
        width: 14px;
        height: 14px;
        background: #FFFFFF;
        border: 1px solid #009999;
        box-shadow: none;
    }
    .el-radio__inner::after{
        width: 6px;
        height: 6px;
        background: #009999;
    }
    .el-radio__label,
    .el-radio__input.is-checked+.el-radio__label{
        font-size: 12px;
        color: #3C464B;
    }
    /* 弹窗 */
    .el-dialog{
        position: absolute;
        top: 14%;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        margin: 0;
    }
    .el-dialog__wrapper .el-dialog {
        padding: 20px 0 20px 20px;
        background: #F1F6FA;
        border-radius: 7px;
    }
    .el-dialog__wrapper .el-scrollbar__view{
        padding-right: 20px;
    }

    .close {
        position: absolute;
        top: -37px;
        right: 0;
        font-size: 24px;
        color: #ffffff;
    }

    .el-dialog__header {
        padding: 0;
        text-align: center;
        height: 16px;
        font-family: "PingFang Regular";
        font-weight: 400;
        color: #0A1418;
    }
    .el-dialog__title {
        font-size: 14px;
        line-height: 16px;
        color: #0A1418;
    }

    
    .el-dialog__wrapper .el-form-item {
        margin-bottom: 14px;
    }
    .el-dialog__wrapper .el-form-item:last-child{
        margin-bottom: 0;
    }

    .dialogdiv {
        max-height: 371px;
        padding-right: 20px;
        overflow: auto;
        padding-bottom: 14px;
    }

    .el-dialog__body {
        padding: 20px 0 0 0;
    }
    .el-dialog__body .el-form-item__label{
        padding-right: 6px;
    }
    .el-dialog__body .el-form-item__error{
        padding-top: 1px;
        transform: scale(0.8);
        transform-origin: left center;
    }

    .dialogbuttom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 27px;
        padding: 0 60px 0 40px;
    }

    .dialogbuttom div {
        width: 120px;
        height: 27px;
        background: #879BAA;
        border-radius: 3px;
        font-size: 12px;
        font-family: "PingFang Regular";
        font-weight: 400;
        color: #FFFFFF;
        line-height: 27px;
        text-align: center;
        cursor: pointer;
    }

    .dialogbuttom .dialogbuttomclose{
        background: #009999;
    }
    .el-dialog .el-select{
        width: 100%;
    }
    .el-dialog .el-select>.el-input{
        font-size: 12px;
    }
    .el-dialog .el-select .el-input.is-focus .el-input__inner,
    .el-dialog .el-select .el-input__inner:focus{
        border-color: #BECDD7;
    }
    .dialogSelect .el-select-dropdown__item.selected{
        color: #009999;
    }
    .el-dialog .el-select .el-input .el-select__caret{
        line-height: 26px;
    }
    .dialogSelect .el-select-dropdown__item{
        font-size: 12px;
    }

    /* 时间选择器 */
    .dateBox /deep/ .el-input__inner{
        padding: 0 20px 0 6px;
        font-size: 12px;
    }
    .dateBox /deep/ .el-input__inner::placeholder{
        font-size: 12px;
    }
    .dateBox /deep/ .el-input__prefix{
        left: auto;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        line-height: 1;
        color: #879BAA;
    }
   .dateBox /deep/ .el-input__icon{
       width: auto;
       font-size: 14px;
    }
    .separatorText{
        font-size: 12px;
        padding: 0 8px;
    }

}


/* 100%按钮 */
.fullBtn{
    width: 100%;
}
